@import "elements.less";

@primary: #008AAD;
@grey: darken(white, 50%);
@grey-light: darken(white, 20%);
@grey-dark: darken(white, 80%);
@old-primary: #008CE2;
@old-background: #001014;
@hexagonSide: 100px;
@hexagonHeight: 86px;

::selection {
  background: @primary;
  color: white;
  text-shadow: none;
}

a {
  color: @primary;
  &:hover {
    color: lighten(@primary, 20%);
    text-decoration: none;
    cursor: pointer;
  }
}

body {
  background-color: darken(@primary, 30%);
  background-image: url("/images/bg_dots.png");
  background-repeat: repeat;
}

body, h1, h2, h3, h4, h5, h6 {
  color: @grey-light;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.canvas-hexagon {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.divider {
  border-top: solid 1px @grey-dark;
  clear: both;
  margin-top: 1.8em;
  margin-bottom: 1.8em;

  @media only screen and (min-width: 768px) {
    margin-top: 2.8em;
    margin-bottom: 2.8em;
  }
}

.footer {
  color: @grey;
  a {
    color: @grey;

    &:hover {
      color: white;
    }
  }

  p {
    margin-top: -0.5em;
    @media only screen and (min-width: 768px) {
      margin-top: -1.2em;
    }
  }
}

.hexagon {
  background-image: url("/images/hexagon.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 175px;
  margin-top: 10em;
  margin-bottom: 10em;
}

.portfolio {
  a:hover img {
    .opacity(0.75);
  }
  
  img {
    .drop-shadow(3px, 3px, 3px, 0.5);
  }

  img, p {
    background-color: white;
    .rounded(3px);
  }
}

.rocket {
  padding-bottom: 1em;
}

.scroll-arrow {
  margin-top: 4em;

  i {
    color: @grey-dark;
  }
}

.space {
  div {
    position: absolute;
  }

  .earth {
    color: @primary;
    top: 28%;
    left: 15%;
  }

  .moon {
    color: @grey;
    top: 10%;
    right: 12%;
  }

  .star-1 {
    color: @grey;
    top: 13%;
    left: 35%;
  }

  .star-2 {
    color: @grey;
    top: 34%;
    right: 38%;

    @media only screen and (min-width: 768px) {
      top: 40%;
    }
  }
}

.top-bar {
  height: 45px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

.top-bar.expanded {
  height: 177px;
}

.top-bar-clear {
  background-color: transparent;

  .top-bar-section {
    ul {
      background-color: transparent;

      li {
        a:not(.button) {
          color: @grey-light;
          background-color: transparent;
        }

        a:not(.button):hover {
          color: white;
        }
      }
    }
  }
}

.top-bar-clear.expanded {
  .title-area {
    background-color: transparent;
  }

  .top-bar-section > ul > li > a:hover {
    background-color: @grey-dark;
  }
}

/*
.hexagon {
  width: @hexagonSide * 2;
  height: @hexagonHeight * 2;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -@hexagonSide;
  margin-left: -@hexagonHeight;

  div[class^="hexagon-"] {
    position: relative;
    width: 0;
    height: 0;
    .background-clip();
  }

  .hexagon-one, .hexagon-three, .hexagon-five {
    border-top: @hexagonHeight solid rgb(0, 140, 226);
    border-top: @hexagonHeight solid rgba(0, 140, 226, 1.0);
    border-right: (@hexagonSide / 2) solid transparent;
    border-left: (@hexagonSide / 2) solid transparent;
    &:hover {
      border-top: @hexagonHeight solid rgb(266, 140, 0);
      border-top: @hexagonHeight solid rgba(266, 140, 0, 1.0);
    }
  }

  .hexagon-two, .hexagon-four, .hexagon-six {
    border-right: (@hexagonSide / 2) solid transparent;
    border-bottom: @hexagonHeight solid rgb(0, 140, 226);
    border-bottom: @hexagonHeight solid rgba(0, 140, 226, 1.0);
    border-left: (@hexagonSide / 2) solid transparent;
    &:hover {
      border-bottom: @hexagonHeight solid rgb(266, 140, 0);
      border-bottom: @hexagonHeight solid rgba(266, 140, 0, 1.0);
    }
  }

  .hexagon-one {
    margin-left: @hexagonSide / 2;
  }

  .hexagon-two {
    margin-top: -@hexagonHeight;
    margin-left: @hexagonSide;
  }

  .hexagon-three {
    margin-left: @hexagonSide;
  }

  .hexagon-four {
    margin-top: -@hexagonHeight;
    margin-left: @hexagonSide / 2;
  }

  .hexagon-five {
    margin-top: -@hexagonHeight;
  }

  .hexagon-six {
    margin-top: -@hexagonHeight * 2;
  }
}

.fancybox-title-float-wrap {
  bottom: -20px;
  right: auto;
  .child {
    border-radius: 0px;
    font-weight: normal;
    margin-right: 0px;
    padding: 10px 10px;
  }
}
*/