@import "elements.less";

@gray: #C8C8C8;
@grayLight: #E5E5E5;
@grayDark: #BBB;
@primary: #008CE2;
@secondary: #000000;
@background: #001014;
@hexagonSide: 100px;
@hexagonHeight: 86px;

a {
  color: @primary;
  &:hover {
    color: @gray;
    text-decoration: none;
    cursor: pointer;
  }
}

body {
  background-color: @background;
  background-image: url("/images/bg_dots.png");
  background-repeat: repeat;
}

.centered-x {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.hexagon {
  width: @hexagonSide * 2;
  height: @hexagonHeight * 2;
  //position: fixed;
  //top: 50%;
  //margin-top: -@hexagonSide;
  //margin-left: -@hexagonHeight;

  div[class^="hexagon-"] {
    position: relative;
    width: 0;
    height: 0;
    .background-clip();
  }

  .hexagon-one, .hexagon-three, .hexagon-five {
    border-top: @hexagonHeight solid rgb(0, 140, 226);
    border-top: @hexagonHeight solid rgba(0, 140, 226, 1.0);
    border-right: (@hexagonSide / 2) solid transparent;
    border-left: (@hexagonSide / 2) solid transparent;
    /*&:hover {
      border-top: @hexagonHeight solid rgb(266, 140, 0);
      border-top: @hexagonHeight solid rgba(266, 140, 0, 1.0);
    }*/
  }

  .hexagon-two, .hexagon-four, .hexagon-six {
    border-right: (@hexagonSide / 2) solid transparent;
    border-bottom: @hexagonHeight solid rgb(0, 140, 226);
    border-bottom: @hexagonHeight solid rgba(0, 140, 226, 1.0);
    border-left: (@hexagonSide / 2) solid transparent;
    /*&:hover {
      border-bottom: @hexagonHeight solid rgb(266, 140, 0);
      border-bottom: @hexagonHeight solid rgba(266, 140, 0, 1.0);
    }*/
  }

  .hexagon-one {
    margin-left: @hexagonSide / 2;
  }

  .hexagon-two {
    margin-top: -@hexagonHeight;
    margin-left: @hexagonSide;
  }

  .hexagon-three {
    margin-left: @hexagonSide;
  }

  .hexagon-four {
    margin-top: -@hexagonHeight;
    margin-left: @hexagonSide / 2;
  }

  .hexagon-five {
    margin-top: -@hexagonHeight;
  }

  .hexagon-six {
    margin-top: -@hexagonHeight * 2;
  }
}

.top-bar-clear {
  background-color: transparent;
  .top-bar-section {
    ul {
      background-color: transparent;
    }
    li a:not(.button) {
      background-color: transparent;
    }
  }

}

/*
.body {
  @media (min-width: 979px) {
    padding-top: 65px;
  }  
}

.collapse {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.container-fluid {
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 0px;
  padding-left: 0px;
}

.fancybox-title-float-wrap {
  bottom: -20px;
  right: auto;
  .child {
    border-radius: 0px;
    font-weight: normal;
    margin-right: 0px;
    padding: 10px 10px;
  }
}

footer {
  border-top: 1px solid @grayLight;
  margin-top: 40px;
  padding-top: 11px;
  padding-bottom: 30px;
  a {
    color: black;
    &:hover {
      color: @grayDark;
      text-decoration: none;
    }
  }
  i[class^="icon-"],
  i[class*=" icon-"] {
    padding-right: 3px;
    font-size: 1.3em;
  }
}

.gallery {
  margin-top: 1em;
}

h1, h2, h3 {
  small {
    color: @gray;
  }
}

h3 {
  font-weight: normal;
  line-height: 1em;
  color: @gray;
  font-size: 17.5px;
  margin-bottom: 15px;
}

.last-updated {
  color: @gray;
  margin-top: 20px;
}

.lazy {
  display: none;
}

.nav {
  margin-bottom: 0px;
}

.navbar {
  .brand:hover {
    color: @primary;
  }
  .nav {
    .active {
      a, a:hover {
        background-color: #06293E;
      }
    }
    li a:hover {
      color: @primary;
    }
  }
}

.navbar-fixed-top .navbar-inner {
  @media (max-width: 979px) {
    padding: 0px;
  }
}

section {
  padding-top: 40px;
}

.tooltip-hover {
  border-bottom: 1px dotted;
}

ul.no-bullets {
  li {
    list-style: none;
    i[class^="icon-"] {
      margin-left: -25px;
    }
  }
}
*/