/*
 * suuoh.com
 * Melvin Chien 2013
 *
 */

body {
  padding-top: 70px;
}

a {
  color: #008CE2
}

a:hover {
  color: #C8C8C8;
  text-decoration: none;
}

a[class="tooltip-hover"] {
  border-bottom: 1px dotted;
}

ul.features > li {
  list-style: none;
}

ul.features > li > [class^="icon-"] {
  margin-left: -25px;
}

h1 small,
h2 small,
h3 small, {
  color: #C8C8C8;
}

h3 {
  font-weight: normal;
  line-height: 1em;
  color: #C8C8C8;
  font-size: 17.5px;
  margin-bottom: 15px;
}

footer {
  font-size: 14px;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
  padding-top: 11px;
  padding-bottom: 30px;
}

footer > a {
  color: #000000;
}

footer > a:hover {
  color: #BBBBBB;
  text-decoration: none;
}

footer [class^="icon-"],
footer [class*=" icon-"] {
  padding-right: 3px;
  font-size: 1.3em;
}

.nav [class^="icon-"],
.nav [class*=" icon-"] {
  line-height: 0.7em;
}

.navbar .container,
.container-fluid {
  margin-right: 10%;
  margin-left: 10%;
}

.row-fluid {
  margin-bottom: 20px;
}

.row-fluid .span6 {
  width: 47.93617021276595%;
  margin-left: 4.127659574468085%;
}

.navbar .brand:hover {
  color: #008CE2;
}

.navbar .nav > li > a:hover {
  color: #008CE2;
}

.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover {
  background-color: rgba(0, 140, 226, 0.25);
}

.fancybox-title-float-wrap {
  bottom: -20px;
  right: auto;
}

.fancybox-title-float-wrap .child {
  border-radius: 0px;
  font-weight: normal;
  margin-right: 0px;
  padding: 10px 10px;
}

.lazy {
  display: none;
}

.lastUpdated {
  color: #C8C8C8;
  margin-top: 20px;
}