/*
 * suuoh.com
 * Melvin Chien 2013
*/

body {
  padding-top: 70px;
}
.navbar .container {
  margin-right: 10%;
  margin-left: 10%;
}
.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
}
footer {
  font-size: 14px;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
  padding-top: 11px;
  padding-bottom: 10px;
}
footer i {
  font-size: 24px;
  padding-right: 8px;
}
footer a {
  color: #000000;

}
footer a:hover {
  color: #bbbbbb;
  text-decoration: none;
}