/*
 * suuoh.com
 * Melvin Chien 2013
*/

body {
  padding-top: 70px;
}
.navbar .container {
  margin-right: 10%;
  margin-left: 10%;
}
.container-fluid {
  padding-right: 10%;
  padding-left: 10%;
}
footer {
  font-size: 14px;
  border-top: 1px solid #e5e5e5;
  margin-top: 40px;
  padding-top: 11px;
  padding-bottom: 30px;
}
footer a {
  color: #000000;
}
footer a:hover {
  color: #bbbbbb;
  text-decoration: none;
}
.btn [class^="icon-"],
.nav [class^="icon-"],
.btn [class*=" icon-"],
.nav [class*=" icon-"] {
  line-height: 0.7em;
}
footer [class^="icon-"],
footer [class^="icon-"],
footer [class*=" icon-"] {
  padding-right: 8px;
  font-size: 1.5em;
}