---
layout: default
---

<div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}">Tweet</a>
  <div class="g-plusone" data-size="medium"></div>
</div>

{{ content }}

<div id="disqus_thread"></div>
<a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>

<!-- Twitter Tweet Button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Google Plus +1 Button -->
<script type="text/javascript">
(function() {
  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
  po.src = 'https://apis.google.com/js/plusone.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>

<!-- Disqus Comment Widget -->
<script type="text/javascript">
var disqus_shortname = 'melvinchien';
var disqus_identifier = '{{ page.url }}';
var disqus_title = '{{ page.title }}';
var disqus_url = 'http://melvin.io{{ page.url }}';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>

<script>
$(document).ready(function() {
  $("#blog").addClass("active");
  $("footer").append(" Galleries by <a href='//fancyapps.com/fancybox/'>fancyBox</a>.");
});
</script>