<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16595656-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-16595656-2');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}melvin.io</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" href="/img/favicon.png">
  <link rel="icon" href="/img/favicon.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/img/favicon.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.5/outdatedbrowser.min.css" integrity="sha256-KNfTksp/+PcmJJ0owdo8yBLi/SVMQrH/PNPm25nR/pI=" crossorigin="anonymous" />

  <!--[if !IE]> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lux/bootstrap.min.css" integrity="sha256-q5uZPZ0wzxOskp0kenlePjfd0GY2gMnO9rPOFo8tcx0=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/css/melvin.css"/>
  <!-- <![endif]-->

  <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
</head>

<body>
  <!-- Menu Bar -->
  <nav class="navbar navbar-light bg-inverse navbar-expand-md">
    <a class="navbar-brand mr-auto" href="#">
      <img src="/img/melvin_logo_full.png" class="d-inline-block align-top ml-3" height="35" alt="melvin logo">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="navbar-toggler-icon fa fa-bars text-muted"></i>
    </button>
    <div class="navbar-collapse collapse" id="menubar">
      <ul class="navbar-nav ml-auto mr-1">
        <li class="nav-item ml-3">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  {{ content }}

  <!-- Footer -->
  <div class="container">
    <footer class="row justify-content-between">
      <div class="col-4">
        <p class="text-muted">&copy; Melvin Chien 2019</p>
      </div>
      <div class="col-4 text-right">
        <a href="mailto:me@melvin.io" target="_blank">
          <i class="fa fa-envelope text-info"></i>
        </a>
        <a href="https://github.com/suuoh" target="_blank">
          <i class="fa fa-linkedin text-info"></i>
        </a>
        <a href="https://linkedin.com/in/melvinchien" target="_blank">
          <i class="fa fa-github text-info"></i>
        </a>
        <a href="https://twitter.com/suuoh" target="_blank">
          <i class="fa fa-twitter text-info"></i>
        </a>
      </div>
    </footer>
  </div>

  <div id="outdated">
    <h6>Your browser is out-of-date!</h6>
    <p>Update your browser to view this website correctly. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Update my browser now </a></p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.5/outdatedbrowser.min.js" integrity="sha256-yV0saZESxHBqfSfNncH044y3GHbsxLZJbQQmuxrXv90=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/melvin.js"></script>
  <script>
    //event listener form DOM ready
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function() {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }
    //call function after DOM ready
    addLoadEvent(function(){
        outdatedBrowser({
            bgColor: '#f25648',
            color: '#ffffff',
            lowerThan: 'IE11',
            languagePath: ''
        })
    });
    </script>
</body>

</html>
